body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    display: center;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: justify;
    background: rgb(2, 2, 2);
}   

p {
   font-size: 13px;
   line-height: 10px;
   background: url(/pics/dugong.png);
   background-attachment: center;
   -webkit-background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   -webkit-background-clip: text;
   -webkit-text-fill-color: rgba(255, 255, 255, 0.1);
}

@media (max-width: 700px) {
    p {
        font-size: 10px;
        line-height: 10px;
        text-align: justify;
        background: url(/pics/dugong.png    );
        background-attachment: fixed;
        -webkit-background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        -webkit-background-clip: text;
        -webkit-text-fill-color: rgba(255, 255, 255, 0.1);
    }
}